@font-face {
    font-family: adventfont;
    src: url(../fonts/advent_regular.ttf);
  }
  
#movilNav{
    display: block;
    display: none;  
    position: absolute;
    top: 2rem;
    left: 0px;
}

#movilMenu{
    display: none;
    background-color: #fdfbfc;
    border-bottom: 3px solid goldenrod;
    display: grid !important;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
}

#menuIcon{
    grid-column: 1;
}

#logoIc{
    grid-column: 3/6;    
}

#logoIc img{
    width: 100%;
    height: 1.5rem;
    padding-top: .3rem;
}

#movilMenu i{
    margin-left: .5rem;
    padding: .3rem;
}

#movilMenu i:hover{
    color: goldenrod;
    transition: 0.3s;
}

#movilNav form button{
    width: 100%;
}

#movilNav form div:nth-child(2) label{
    margin-right: 2.9rem;
}

#movilNav a{
    padding: 0px
}

body{
    margin: 0px;
    font-family: 'Dancing Script', cursive;  
    font-size: 1.4rem;  
    background-color: #474747;     
}


h1{
    font-size: 2rem;
    font-weight: bold;
}

/*NAV*/
nav{
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    width: 100%;
    background-color: #fdfbfc;
    border-bottom: 3px solid goldenrod;   
    font-size: 1.1rem; 
    z-index: 1;  
    align-items: center;  
    justify-content: space-around;   
    top: 0px;
    left: 0px;  
}

nav img{
    width: 8%;
    min-width: 160px;
}

nav ul, li{
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;  
     
}

nav li a{
    text-decoration: none;
    color: black;      
}


nav li a:hover{    
    border: 2px solid goldenrod; 
    color: goldenrod; 
    padding: 0.1rem 0.4rem;
    transition: 0.3s;
    border-radius: 6px;
}

nav input{
    border: 0px;
    border-bottom: 2px solid black;
}

nav form{
    padding-bottom: 0.5rem;
}

/*DIV GENERAL*/

.general{
    width: 80%;
    text-align: center;    
    margin: auto;    
}

img.imagen_princ{
    margin-top: 11rem;
}

.general img{
       
    width: 80%;
}

#webmap ol{
    margin-top: 7.3rem;
}

.general li{
    display: block;
}
#webmap{
    text-align: left;
    padding-top: 4rem;
}

.general a:hover{
    color: rgb(231, 181, 55);
}

#mapa_icon{
    width: 40%;
}

.general input{
    background-color: #474747;
    border: 0px;
    border-bottom: 2px solid goldenrod;
    border-radius: 5px;    
}


/*SECTION*/

section{    
    color: #fdfbfc;    
}


section a{
    color: gold;
}

section h1, h2, h3, h4{
    color: goldenrod;
}

/*FORMULARIO*/

#imagen_contacto{
    width: 17%;
    margin-top: 11rem;
}

#contacto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contacto div{
    margin: 0.5rem;
}

div fieldset{
    margin-top: 1.1rem;
    border: 1px solid goldenrod;
}

button{
    margin-top: 0.8rem;
    border: 0px;
    border: 2px solid goldenrod;
    border-radius: 5px;   
    padding: 0.3rem;
    background-color: #3a3939;
    color: goldenrod;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 6px;
}

button:hover{
    background-color: rgb(20, 19, 19);
    color: yellow;
    border: 2px solid yellow;
    transition: 0.3s;
    border-radius: 6px;
}

input{    
    font-family: inherit;
    color: inherit;
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: #3a3939;
    width: 100%;
    margin-top: 2rem;
    text-align: center;  
    border-top: 3px solid goldenrod;  
}
footer img{
    width: 25%;
    margin: 1.1rem; 
    min-width: 150px;   
}

footer a{
    color: white;
}

footer a:hover{
    color: goldenrod;
    transition: 0.4s;
}

/*TABLA*/

.general table img{
    width: 100%;
    text-align: center;
    margin: 0px;
    display: block;
    min-width: 100px;
    min-height: 290px;
    object-fit: cover;
}

.imagenesTabla{
    padding: 0px;    
}

#movilTable img{
    margin-top: 0px !important;
}

#webTable td:nth-child(2){
    padding: 0px;
}

#movilTable{
    width: 100%;
    display: none;
}

table{
    border-collapse: collapse;
    margin-bottom: 0.8rem;
}

td, th{
    border: 2px solid white;
    padding: 0.5em;
}

th{
    background-color: darkslateblue;
}

tfoot td{
    background-color: darkslateblue;
}

#webTable tbody{
    background-image: url('../img/sgv/hollow1.svg');  
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; 
}

/*TITULO LISTA DEFINICIONES*/

dt{
    color: goldenrod;
    font-size: 1.5rem;    
}

#icono_correo{
    margin-top: 11rem;
    width: 18%;
}

/*SECCIÓN A: GALERIA (index)*/

.galeria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: teal;  
    justify-content: center;      
}

.galeria div{
    font-family: adventfont;
    width: 25%;
    min-width: 300px;
}

.galeria div img{
    margin-top: 1rem;    
}

#galeria_hollow{
    width: 90%;
}

/*SECCIÓN: IMAGEN DE FONDO*/

.fondo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100vh;  
    background-image: url('../img/sgv/Promo_04.svg');  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.fondo p{
    font-family: adventfont;
    background-color: goldenrod;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 0px;
}

/*SECCIÓN C: IMAGEN Y TESTO AL 50%*/

#historia{
    background-color: teal;
    font-family: adventfont;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}
#historia p{
    width: 50%;
    margin-top: 0px;
    padding: 1rem;
}
#historia img{
    width: 50%;
    margin-top: 0px;
    padding: 1rem;
}

/*SECCIÓN D: FLOAT EN PARRAFO*/

#hornet{
    float: right;
    width: 15%;
    min-width: 150px;
    margin: 0.6rem 1rem;
}

/*AWASOME FONTS*/

#awasome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-width: 100px;
    font-size: 2.5rem;
    color: white;
}

#awasome i{
    margin-right: 0.5rem;
}

#creador{
    color: white;
}

/*Media Querys*/

@media (min-width: 700px) and (max-width: 1300px){
    .general{
        width: 98%;
    }
}

@media (max-width: 700px){
    #webMenu{
        display: none;
    }

    #movilMenu{
        display: block;
        
    }

    .general{
        width: 98%;
    }

    .general img:first-child{        
        margin-top: 1rem !important;
    }

    #webmap{
        padding-top: 0px;
    }

    #webmap ol{
        margin-top: 1rem;       
    }

    #movilTable{
        display: block;
    }

    #webTable{
        display: none;
    }

}
